@charset "UTF-8";
/* Variables */
h1,
h2,
h3,
p,
span {
  color: #ebbf65;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

p {
  font-size: 1.2rem;
}

#story h2,
#work h2,
#years h2 {
  max-width: 410px;
  font-weight: 500;
  font-size: 3rem;
  position: relative;
}

#story h2::before,
#work h2::before,
#years h2::before {
  content: "“";
  display: block;
  font-size: 500px;
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  opacity: 50%;
  font-weight: 400;
}

body {
  background-color: #191919;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  margin-top: 50px;
}

header img {
  width: 150px;
}

header h3 {
  text-transform: uppercase;
  font-size: 2rem;
  margin: 40px 0;
  font-weight: 500;
}

#intro {
  text-align: center;
  position: relative;
  height: 70vh;
}

@media screen and (max-width: 950px) {
  #intro {
    margin-bottom: 200px;
    height: auto;
  }
}

#intro .intro_text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 950px) {
  #intro .intro_text {
    position: relative;
    left: 0;
    top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    margin-bottom: 50px;
  }
}

#intro .intro_text h1 {
  font-size: 5rem;
  font-weight: 500;
  text-transform: uppercase;
}

#intro img {
  position: absolute;
  left: 0;
  width: 400px;
}

@media screen and (max-width: 950px) {
  #intro img {
    position: relative;
  }
}

#intro .intro_footer {
  text-transform: uppercase;
  position: absolute;
  bottom: -80px;
  font-weight: 700;
  width: 100%;
}

#intro .intro_union {
  width: 14px;
  position: absolute;
  bottom: -80px;
  left: 50%;
  -webkit-transform: translate(-50%, 20px);
          transform: translate(-50%, 20px);
}

#story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

#story h2 {
  top: -50px;
}

#work {
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#work h2 {
  text-align: right;
}

#work .work_images {
  position: relative;
}

#work .work_images img {
  position: relative;
}

#work .work_images img:nth-child(2) {
  top: -200px;
  left: 100px;
}

#years {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#years .years_images {
  position: relative;
  width: 50%;
}

#years .years_images img {
  position: relative;
}

#years .years_images img:nth-child(2) {
  top: -150px;
  left: -200px;
}

#player {
  width: 100%;
  margin: 100px auto 0;
}

#player .player_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 950px) {
  #player .player_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#player .player_content iframe {
  margin-left: 130px;
  width: 50%;
}

@media screen and (max-width: 950px) {
  #player .player_content iframe {
    width: 100%;
    margin-left: 0px;
    margin-top: 30px;
  }
}

#player h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-bottom: 8px;
}

#player p {
  margin-bottom: 30px;
}

#player div p {
  margin-top: 30px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#player div .player_cover {
  width: 100%;
}

#player div .player_btn {
  display: -ms-grid;
  display: grid;
  gap: 20px 20px;
  -ms-grid-columns: (140px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 140px);
}

#player div .player_btn button {
  cursor: pointer;
  border: none;
  background-color: black;
  padding: 18px;
}

#player div .player_btn button img {
  height: 20px;
}

#player div .player_btn button:nth-child(1) {
  background-color: #13863c;
}

#shop {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 70px;
  background-color: #ebbf65;
}

#shop .shop_btn {
  border: none;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}

footer {
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
}

@media (min-width: 1000px) {
  #intro {
    margin-bottom: 150px;
  }
}
/*# sourceMappingURL=styles.css.map */