@charset "UTF-8";
/* Variables */
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

html,
body {
  overflow-x: hidden;
  cursor: none;
}

body {
  background-color: #191919;
  background-image: url(../../src/images/blur.webp);
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: "Cirka";
  z-index: -5;
  opacity: 0;
  will-change: opacity;
}

h1,
h2,
h3,
p,
span {
  color: #ebbf65;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

p {
  font-size: 1.2rem;
}

img[data-spawn] {
  will-change: clip-path;
  -webkit-clip-path: inset(0% 0% 100% 0%);
          clip-path: inset(0% 0% 100% 0%);
  -webkit-transition: -webkit-clip-path 1s cubic-bezier(0.73, 0.01, 0, 1);
  transition: -webkit-clip-path 1s cubic-bezier(0.73, 0.01, 0, 1);
  transition: clip-path 1s cubic-bezier(0.73, 0.01, 0, 1);
  transition: clip-path 1s cubic-bezier(0.73, 0.01, 0, 1), -webkit-clip-path 1s cubic-bezier(0.73, 0.01, 0, 1);
}

img[data-spawn].reveal {
  -webkit-clip-path: inset(0% 0% 0% 0%);
          clip-path: inset(0% 0% 0% 0%);
}

.eclipse {
  height: 380px;
  width: 380px;
  background-color: #ebbf65;
  -webkit-filter: blur(300px);
          filter: blur(300px);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -5;
}

#story h2,
#work h2,
#years h2 {
  max-width: 700px;
  font-weight: 500;
  font-size: 3rem;
  position: relative;
  margin-right: 30px;
}

@media screen and (max-width: 950px) {
  #story h2,
  #work h2,
  #years h2 {
    margin-right: 0;
  }
}

#story h2::before,
#work h2::before,
#years h2::before {
  content: "“";
  display: block;
  font-size: 500px;
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-35%);
          transform: translateY(-35%);
  opacity: 0.5;
  font-weight: 400;
}

.cursor div {
  width: 30px;
  height: 30px;
  background-color: #ebbf65;
  position: absolute;
  z-index: 10000;
  pointer-events: none;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  left: -10px;
  top: -10px;
  will-change: transform;
  border-radius: 100%;
  -webkit-transition: -webkit-filter cubic-bezier(0.73, 0.01, 0, 1) 0.5s;
  transition: -webkit-filter cubic-bezier(0.73, 0.01, 0, 1) 0.5s;
  transition: filter cubic-bezier(0.73, 0.01, 0, 1) 0.5s;
  transition: filter cubic-bezier(0.73, 0.01, 0, 1) 0.5s, -webkit-filter cubic-bezier(0.73, 0.01, 0, 1) 0.5s;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  border: 1px solid #ebbf65;
}

.appear {
  opacity: 1;
  -webkit-transition: opacity 1s cubic-bezier(0.73, 0.01, 0, 1);
  transition: opacity 1s cubic-bezier(0.73, 0.01, 0, 1);
}

@font-face {
  font-family: "Cirka";
  src: url("fonts/Cirka-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cirka";
  src: url("fonts/Cirka-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cirka";
  src: url("fonts/Cirka-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes desappear {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
}

@keyframes desappear {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
}

header {
  text-align: center;
  margin-top: 50px;
}

header img {
  width: 150px;
  opacity: 0;
}

header h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 40px 0;
  font-weight: 500;
  letter-spacing: 0.4em;
  opacity: 0;
}

#intro {
  text-align: center;
  position: relative;
  height: 70vh;
}

@media screen and (max-width: 950px) {
  #intro {
    margin-bottom: 200px;
    height: auto;
  }
}

#intro .intro_text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

@media screen and (max-width: 950px) {
  #intro .intro_text {
    position: relative;
    left: 0;
    top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    margin-bottom: 50px;
  }
}

#intro .intro_text h1 {
  font-size: 7rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
}

@media screen and (max-width: 950px) {
  #intro .intro_text h1 {
    font-size: 3rem;
  }
}

#intro .intro_text h1 span {
  -webkit-transition: -webkit-transform cubic-bezier(0.73, 0.01, 0, 1) 1.2s;
  transition: -webkit-transform cubic-bezier(0.73, 0.01, 0, 1) 1.2s;
  transition: transform cubic-bezier(0.73, 0.01, 0, 1) 1.2s;
  transition: transform cubic-bezier(0.73, 0.01, 0, 1) 1.2s, -webkit-transform cubic-bezier(0.73, 0.01, 0, 1) 1.2s;
  display: inline-block;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  will-change: transform;
}

#intro .intro_text p {
  opacity: 0;
  -webkit-transition: opacity cubic-bezier(0.73, 0.01, 0, 1) 1.2s;
  transition: opacity cubic-bezier(0.73, 0.01, 0, 1) 1.2s;
}

#intro img {
  z-index: 1;
  position: absolute;
  left: 0;
  width: auto;
  height: 100%;
  opacity: 0.5;
}

@media screen and (max-width: 950px) {
  #intro img {
    position: relative;
    width: 100%;
  }
}

#intro .intro_footer {
  text-transform: uppercase;
  position: absolute;
  bottom: -80px;
  font-weight: 700;
  width: 100%;
}

#intro .intro_union {
  width: 14px;
  height: 12px;
  position: absolute;
  bottom: -80px;
  left: 50%;
  -webkit-transform: translate(-50%, 20px);
          transform: translate(-50%, 20px);
}

#story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

@media screen and (max-width: 950px) {
  #story {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 100px;
  }
}

#story img {
  width: 40%;
}

@media screen and (max-width: 950px) {
  #story img {
    width: 100%;
  }
}

#story h2 {
  top: -50px;
}

@media screen and (max-width: 950px) {
  #story h2 {
    text-align: justify;
    margin-bottom: 80px;
  }
}

#work {
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 950px) {
  #work {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 200px;
  }
}

#work h2 {
  text-align: right;
  z-index: 1;
}

@media screen and (max-width: 950px) {
  #work h2 {
    text-align: justify;
  }
}

#work h2::before {
  -webkit-transform: rotate(180deg) translateY(55%);
          transform: rotate(180deg) translateY(55%);
  right: 0;
}

#work .work_images {
  position: relative;
  width: 100%;
}

#work .work_images picture::after {
  content: "Séance Studio";
  display: block;
  position: relative;
  color: #b1aba0;
  top: 0;
  z-index: 2;
  font-size: 1.2rem;
  margin-top: 15px;
}

#work .work_images img {
  position: relative;
  z-index: 1;
}

#work .work_images img:nth-child(1) {
  opacity: 0.5;
}

#work .work_images img:nth-child(2) {
  -webkit-transform: translate(30%, -30%);
          transform: translate(30%, -30%);
}

#years {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 950px) {
  #years {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 200px;
  }
}

#years h2 {
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
}

@media screen and (max-width: 950px) {
  #years h2 {
    text-align: justify;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

#years .years_images {
  position: relative;
  width: 50%;
}

@media screen and (max-width: 950px) {
  #years .years_images {
    width: 100%;
  }
}

#years .years_images img {
  position: relative;
  float: right;
}

#years .years_images img:nth-child(1) {
  opacity: 0.5;
}

#years .years_images img:nth-child(2) {
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
}

#player {
  width: 100%;
  margin: 100px auto;
}

#player .player_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 950px) {
  #player .player_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#player .player_content iframe {
  position: relative;
  margin-left: 130px;
  width: 50%;
}

@media screen and (max-width: 950px) {
  #player .player_content iframe {
    width: 100%;
    margin-left: 0px;
    margin-top: 30px;
  }
}

#player h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-bottom: 8px;
}

#player p {
  margin-bottom: 30px;
}

#player div p {
  margin-top: 30px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#player div .player_cover {
  width: 100%;
}

#player div .player_btn {
  position: relative;
  display: -ms-grid;
  display: grid;
  gap: 20px 20px;
  -ms-grid-columns: (140px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 140px);
}

#player div .player_btn button {
  cursor: pointer;
  border: none;
  background-color: black;
  padding: 18px;
}

#player div .player_btn button img {
  height: 20px;
}

#player div .player_btn button:nth-child(1) {
  background-color: #13863c;
}

#shop {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#shop .shop_btn {
  text-transform: uppercase;
  color: black;
  width: 300px;
  height: 70px;
  margin: 0px auto 50px auto;
  background-color: #ebbf65;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

#shop .shop_btn span {
  color: black;
}

footer {
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
}

@media (min-width: 1000px) {
  #intro {
    margin-bottom: 150px;
  }
}
/*# sourceMappingURL=styles.css.map */