@import "./settings";
@import "./mixins";
@import "./fonts";

header {
  text-align: center;
  margin-top: 50px;

  img {
    width: 150px;
  }

  h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 40px 0;
    font-weight: 500;
  }
}

#intro {
  text-align: center;
  position: relative;
  height: 70vh;

  @include media-max(950px) {
    margin-bottom: 200px;
    height: auto;
  }

  .intro_text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    @include media-max(950px) {
      position: relative;
      left: 0;
      top: 0;
      transform: translate(0, 0);
      margin-bottom: 50px;
    }

    h1 {
      font-size: 5rem;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      @include media-max(950px) {
        font-size: 3rem;
      }
    }
  }

  img {
    z-index: 1;
    position: absolute;
    left: 0;
    width: 400px;

    @include media-max(950px) {
      position: relative;
      width: 100%;
    }
  }

  .intro_footer {
    text-transform: uppercase;
    position: absolute;
    bottom: -80px;
    font-weight: 700;
    width: 100%;
  }

  .intro_union {
    width: 14px;
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translate(-50%, 20px);
  }
}

#story {
  display: flex;
  justify-content: space-between;
  align-items: end;
  @include media-max(950px) {
    flex-direction: column;
    padding-top: 100px;
  }

  h2 {
    top: -50px;
    @include media-max(950px) {
      text-align: justify;
      margin-bottom: 80px;
    }
  }
}

#work {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  @include media-max(950px) {
    flex-direction: column;
    margin-bottom: 200px;
  }

  h2 {
    text-align: right;
    @include media-max(950px) {
      text-align: justify;
    }
  }

  .work_images {
    position: relative;

    img {
      position: relative;

      &:nth-child(2) {
        top: -200px;
        left: 100px;
      }
    }
  }
}

#years {
  display: flex;
  justify-content: space-between;
  @include media-max(950px) {
    flex-direction: column-reverse;
    margin-bottom: 200px;
  }

  h2 {
    @include media-max(950px) {
      text-align: justify;
    }
  }

  .years_images {
    position: relative;
    width: 50%;

    img {
      position: relative;

      &:nth-child(2) {
        top: -150px;
        left: -200px;
      }
    }
  }
}

#player {
  width: 100%;
  margin: 100px auto 0;

  .player_content {
    display: flex;
    @include media-max(950px) {
        flex-direction: column;
    }

    iframe {
      margin-left: 130px;
      width: 50%;
      @include media-max(950px) {
        width: 100%;
        margin-left: 0px;
        margin-top: 30px;
    }
    }
  }

  h2 {
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 30px;
  }

  div {
    p {
      margin-top: 30px;
      margin-bottom: 15px;
      text-transform: uppercase;
    }

    .player_cover {
      width: 100%;
    }

    .player_btn {
        display: grid;
        gap: 20px 20px;
        grid-template-columns: repeat(auto-fill, 140px);
        button {
            cursor: pointer;
            border: none;
            background-color: black;
            padding: 18px;

            img {
                height: 20px;
            }

            &:nth-child(1) {
            background-color: $spotify;
            }
        }
    }
  }
}

#shop {
  width: 100%;
  display: flex;
  margin: 50px auto;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 70px;
  background-color: $jaune;

  .shop_btn {
    border: none;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
  }
}

footer {
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
}

@media (min-width: 1000px) {
  #intro {
    margin-bottom: 150px;
  }
}