@import "./settings";
@import "./mixins";
@import "./fonts";
@import "./anim";

header {
  text-align: center;
  margin-top: 50px;

  img {
    width: 150px;
    opacity: 0;
  }

  h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 40px 0;
    font-weight: 500;
    letter-spacing: 0.4em;
    opacity: 0;
  }
}

#intro {
  text-align: center;
  position: relative;
  height: 70vh;

  @include media-max(950px) {
    margin-bottom: 200px;
    height: auto;
  }

  .intro_text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    @include media-max(950px) {
      position: relative;
      left: 0;
      top: 0;
      transform: translate(0, 0);
      margin-bottom: 50px;
    }

    h1 {
      font-size: 8rem;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      overflow: hidden;
      @include media-max(950px) {
        font-size: 3rem;
      }

      span {
        transition: transform cubic-bezier(0.73, 0.01, 0, 1) 1.2s;
        display: inline-block;
        transform: translateY(150px);
        will-change: transform;
      }
    }
    p {
      opacity: 0;
      transition: opacity cubic-bezier(0.73, 0.01, 0, 1) 1.2s;
    }
  }

  img {
    z-index: 1;
    position: absolute;
    left: 0;
    width: auto;
    height: 100%;
    opacity: 0.5;

    @include media-max(950px) {
      position: relative;
      width: 100%;
    }
  }

  .intro_footer {
    text-transform: uppercase;
    position: absolute;
    bottom: -80px;
    font-weight: 700;
    width: 100%;
  }

  .intro_union {
    width: 14px;
    height: 12px;
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translate(-50%, 20px);
  }
}

#story {
  display: flex;
  justify-content: space-between;
  align-items: end;
  @include media-max(950px) {
    flex-direction: column;
    padding-top: 100px;
  }

  img {
    width: 40%;
    @include media-max(950px) {
      width: 100%;
    }
  }

  h2 {
    top: -50px;
    @include media-max(950px) {
      text-align: justify;
      margin-bottom: 80px;
    }
  }
}

#work {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media-max(950px) {
    flex-direction: column;
    margin-bottom: 200px;
  }

  h2 {
    text-align: right;
    z-index: 1;
    @include media-max(950px) {
      text-align: justify;
    }

    &::before {
      transform: rotate(180deg) translateY(55%);
      right: 0;
    }
  }

  .work_images {
    position: relative;
    width: 100%;

    picture::after {
      content: "Séance Studio";
      display: block;
      position: relative;
      color: #b1aba0;
      top: 0;
      z-index: 2;
      font-size: 1.2rem;
      margin-top: 15px;
    }

    img {
      position: relative;
      z-index: 1;

      &:nth-child(1) {
        opacity: 0.5;
      }

      &:nth-child(2) {
        transform: translate(30%, -30%);
      }
    }
  }
}

#years {
  display: flex;
  justify-content: space-between;
  @include media-max(950px) {
    flex-direction: column-reverse;
    margin-bottom: 200px;
  }

  h2 {
    transform: translateY(200px);
    @include media-max(950px) {
      text-align: justify;
      transform: translateY(0px);
    }
  }

  .years_images {
    position: relative;
    width: 50%;
    @include media-max(950px) {
      width: 100%;
    }

    img {
      position: relative;
      float: right;

      &:nth-child(1) {
        opacity: 0.5;
      }

      &:nth-child(2) {
        transform: translate(-50%, -30%);
      }
    }
  }
}

#player {
  width: 100%;
  margin: 100px auto;

  .player_content {
    display: flex;
    @include media-max(950px) {
      flex-direction: column;
    }

    iframe {
      position: relative;
      margin-left: 130px;
      width: 50%;
      @include media-max(950px) {
        width: 100%;
        margin-left: 0px;
        margin-top: 30px;
      }
    }
  }

  h2 {
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 30px;
  }

  div {
    p {
      margin-top: 30px;
      margin-bottom: 15px;
      text-transform: uppercase;
    }

    .player_cover {
      width: 100%;
    }

    .player_btn {
      position: relative;
      display: grid;
      gap: 20px 20px;
      grid-template-columns: repeat(auto-fill, 140px);
      button {
        cursor: pointer;
        border: none;
        background-color: black;
        padding: 18px;

        img {
          height: 20px;
        }

        &:nth-child(1) {
          background-color: $spotify;
        }
      }
    }
  }
}

#shop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .shop_btn {
    text-transform: uppercase;
    color: black;
    width: 300px;
    height: 70px;
    margin: 0px auto 50px auto;
    background-color: $jaune;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    span {
      color: black;
    }
  }
}

footer {
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
}

@media (min-width: 1000px) {
  #intro {
    margin-bottom: 150px;
  }
}
